@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}



html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4vw;
}

section > p {
    padding-bottom: 2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section.imagem {
    background-color: rgb(99, 94, 94);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.291);
    background-size: cover;
    background-attachment: fixed;
    /*backgroud-attachment: fixed serve para fazer efeito paralaquis*/
}

section.imagem > P {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.455);
    text-shadow: 1px 1px 0px black;
}

section.normal {
    background-color: white;
    color: black;
}

section#img01 {
    background-image: url(../imagem/imagens/background001.jpg);
    background-position: right center;
   
}

section#img02 {
    background-image: url(../imagem/imagens/background002.jpg);
  
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}